.btnMain {
    display: flex;
    justify-content: center;
    gap: 30px;
  
}
.btnFeedback {
    width: 150px;
    font-size: 25px;
    background-color: aqua;
     display:inline-block;
     /* margin: auto; */
     margin:39px 130px;
}

.btnFeedback:hover {
   border: 2px solid yellow;
}